@use '../globals/' as *;

.Heading {
    height: 23.5rem;
    padding: 3.4rem 2.4rem 0;
    background-color: var(--bg-top);
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;

    @media (min-width: $desktop) {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 3.2rem 16rem 0;
    }

    border: 1px solid yellowgreen
}

.Heading__title {
    font-size: var(--fs-h1-mobile);
    font-weight: var(--fw-bold);
    color: var(--clr-text);

    @media (min-width: $desktop) {
        font-size: var(--fs-h1-desktop);
    }
}

.Heading__text,
.Heading__toggle--label {
    font-size: var(--fs-subtitle-mobile);
    font-weight: var(--fw-bold);
    color: var(--clr-small-text);
}

.Heading__text {
    margin-top: 0.4rem;
    padding-bottom: 2.4rem;
    border-bottom: 0.1rem solid var(--clr-hr);

    @media (min-width: $desktop) {
        padding-bottom: 0;
        border-bottom: 0.1rem solid transparent;
    }
}

.Heading__toggle--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.6rem;

    @media (min-width: $desktop) {
        margin-top: 1.2rem;
    }
}


.Heading__toggle--label {
    order: 0;

    @media (min-width: $desktop) {
        margin-right: 1.4rem;
        color: hsl(230, 22%, 74%);
    }
}

.Heading__toggle {
    order: 1;
    position: relative;
    width: 4.8rem;
    height: 2.4rem;
    border-radius: 1.4rem;
    background: linear-gradient(to right, var(--clr-toggle1), var(--clr-toggle2));
    cursor: pointer;
}

body.lightTheme .Heading__toggle:hover {
    background: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
}

.Heading__toggle--dot-left,
.Heading__toggle--dot-right {
    position: absolute;
    top: 0.3rem; 
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    z-index: 10;
}

.Heading__toggle--dot-left {
    left: 0.3rem;
    background-color: hsl(228, 28%, 20%);
}

.Heading__toggle--dot-right {
    right: 0.3rem;
    background-color: hsl(0, 0%, 100%);
}

.Heading__toggle:hover~.Heading__toggle--label {
    color: hsl(0, 0%, 100%);;
} 

body.lightTheme .Heading__toggle:hover~.Heading__toggle--label {
    color:hsl(228, 34%, 66%);
} 
