@use '../globals' as *;

body {
    min-height: 100vh;
    font-family: var(--ff);
    font-weight: var(--fw-regular);
    background-color: var(--bg-bottom);

    @media (min-width: $desktop) {
        @include flex-center;
        flex-direction: column;
    }
}

.App {
    //width: 37.5rem;
    background-color: var(--bg-bottom);

    @media (min-width: $desktop) {
        max-width: 144rem;
    }
}