:root {  
    // font families
    --ff: 'Inter', sans-serif;
 
    // font sizes
    --fs-number-followers-mobile: 5.5rem;
    --fs-h1-mobile: 2.4rem;
    --fs-h2-mobile: 2.4rem;
    --fs-subtitle-mobile: 1.4rem;
    --fs-normal-mobile: 1.2rem;
    --fs-number-followers2-mobile: 3.3rem;
    
    --fs-h1-desktop: 2.8rem;


    --fs-nav-mobile: 1.9rem;
    --fs-h3-mobile: 2.8rem;
    --fs-button-mobile: 1.3rem;
    --fs-footer-mobile: 1.3rem;

    --fs-normal-desktop: 1.4rem;
    --fs-nav-desktop: 1.4rem;
    --fs-h2-desktop: 5.5rem;
    --fs-footer-desktop: 1.35rem;

    // font weights
    --fw-regular: 400;
    --fw-bold: 700;
}  